<link rel="stylesheet" href="/css/store.css">

<div id="new-product">
    <p> Create a New Product</p>
    <form id = "new-product-form">
        <input id = "seller" type="text" placeholder = "Seller">
        <input id = "name" type="text" placeholder = "Name">
        <input id = "price" type="number" step = ".01" placeholder = "Price">
        <input id = "quantity" type="number" placeholder = "Quantity">
        <button id = "new-product-submit">Submit</button>
    </form>
</div>

<div id="store-items">

</div>



<script src="/js/store.js"></script>